<!DOCTYPE html>
<html>

<head>
    <title>Chat Room</title>
</head>

<body>
    <ul id="messages"></ul>
    <input id="message" />
    <button id="send">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
       $(document).ready(function () {
            var socket = io.connect('http://127.0.0.1:50002');

            $('#send').click(function () {
                var message = {
                    messageId: generateMessageId(),  // 根据实际情况生成唯一的 messageId
                    messageText: $('#message').val(),
                    forceUpdate: 0  // 根据实际情况设置 forceUpdate
                };
                socket.emit('chatMessage', JSON.stringify(message));
                $('#message').val('');
            });

            socket.on('gptMessage', function (data) {
                var gptMessage = JSON.parse(data);
                $('#messages').append('<li>' + gptMessage.messageText + '</li>');
                if (gptMessage.finished === '1') {
                    // 如果消息已结束，可以在这里添加一些逻辑处理
                }
            });
        });

        // 生成唯一的 messageId
        function generateMessageId() {
            // 可以使用如 UUID 等机制生成唯一的 messageId
            return "uniqueMessageId";
        }

    </script>
</body>

</html>